<form>
    <div>
        <label for="lang">Language </label>
        <input type="text" name="lang" [(ngModel)]="objPhrase.language">
    </div>
    <div>
        <label for="phrase">Phrase </label>
        <input type="text" name="phrase" [(ngModel)]="objPhrase.value">
    </div>

    <input type="button" (click)="pushDataToArray(objPhrase.language, objPhrase.value)" value="Add">
</form>

<h2>List of phrases: </h2>

<ul>
    <li *ngFor="let phrase of phrases">
        <b>{{phrase.language}}</b> | {{phrase.value}}
    </li>
</ul>